

<MatButton Style="text-transform: capitalize;" Raised="true" Icon="library_add" OnClick="@(() => OpenModal())">Add Expense</MatButton>



<MatDialog @bind-IsOpen="@modalOpen">
    <MatDialogContent>
        <div class="circle">
            <img src="/Images/mujer.jpg" alt="Imagen" />
        </div>
        <div class="form">
            <MatTextField @bind-Value="@expense"  Label="Expense" />
            <MatTextField  @bind-Value="@cost" Label="Cost" />
        </div>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="Close">Save</MatButton>
        <MatButton OnClick="@(() => CloseModal())">Close</MatButton>
    </MatDialogActions>
</MatDialog>
@code {


    [Parameter]
    public EventCallback<Expenses> OnClickEvent { get; set; }




    //private decimal sumCosts = 0;
    string expense = String.Empty;
    string cost = String.Empty;
    string trimCost = String.Empty;

    private bool modalOpen = false;



    void OpenModal() => modalOpen = true;

    void CloseModal()
    {
        modalOpen = false;
        expense = string.Empty;
        cost = string.Empty;
        trimCost = string.Empty;
    }

    private async Task Close()
    {
        if (cost == String.Empty) cost = "0";
        foreach (char c in cost)
        {
            if (c != '.')
            {
                trimCost += c;
            }
            else if (c == '.')
            {
                trimCost += ',';
            }
        }
        var Tax = new Expenses() { Expense = expense, Cost = trimCost };
        await OnClickEvent.InvokeAsync(Tax);
        CloseModal();
    }

    

}
